{% extends 'base.html' %} {% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!-- home content -->
<div class="row">
  <div class="col col-lg-12">
    <div class="hero-banner">
      <div class="banner-text rounded">
        <h3>Let's Get Moving...</h3>
      </div>
      <div class="quote-form text-center">
        <h3 class="text-light bg-dark shadow-sm p-3 rounded">
          Hauler is the quick, convenient option that makes long-distance moving
          easy
        </h3>
        <button
          class="btn btn-primary mt-2"
          data-toggle="modal"
          data-target="#formModal"
        >
          Get a quote.
        </button>
      </div>
    </div>

    <!-- page 2  -->
    <section class="page-two mt-5 p-4">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="service-card p-4">
              <div class="card-body">
                <h3>
                  <i class="fas fa-info-circle"></i>
                  <p class="text-dark">
                    We Drive. You Save. Hauler is the long-distance moving
                    service that makes staying on budget easy. You pay only for
                    the space you use, so you know the exact price as you load.
                    Make your reservation Load your container We’ll take it from
                    there.
                  </p>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- modal form -->

<!-- Modal -->
<div
  class="modal fade"
  id="formModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Fill the details below:
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- details forms -->
        <form action="{% url 'profile' %}" method="POST">
          {% csrf_token %} {{form|crispy}}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-outline-primary">
              Get my quote
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal form -->
{% endblock %}
